flows.json
[
    {
        "id": "a3082a0f65c9312b",
        "type": "tab",
        "label": "Inject and Debug",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c580b763f8d6311",
        "type": "tab",
        "label": "Link In Out",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "97b79648ae0519e6",
        "type": "tab",
        "label": "Function",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0ec30a985bffe47f",
        "type": "tab",
        "label": "Switch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aa0be5d8fb5b13e9",
        "type": "tab",
        "label": "Change",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a6d33dd70f458e63",
        "type": "tab",
        "label": "Range",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e3cb7c4656eebe4",
        "type": "tab",
        "label": "Split",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da15485e.1b2b78",
        "type": "tab",
        "label": "Split & Join node",
        "disabled": false,
        "info": ""
    },
    {
        "id": "199afd630539f6b6",
        "type": "tab",
        "label": "Exercise 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "478962d8a3b3854b",
        "type": "tab",
        "label": "Sort and Batch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "adad75a1bdfe07d3",
        "type": "tab",
        "label": "Delay and Trigger",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a9d8e4b27b13f95f",
        "type": "tab",
        "label": "Rbe  & Random",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "996690f4b63356f5",
        "type": "tab",
        "label": "Storing data 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d3794f41218afe7",
        "type": "tab",
        "label": "Storing data 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "edacc186137ae847",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "bfb2046eac10ddf0"
            ]
        ]
    },
    {
        "id": "bfb2046eac10ddf0",
        "type": "debug",
        "z": "a3082a0f65c9312b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "876abca378446e9c",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Source A",
        "payload": "Hello world!",
        "payloadType": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "7e81586c4c63095b"
            ]
        ]
    },
    {
        "id": "7e81586c4c63095b",
        "type": "debug",
        "z": "a3082a0f65c9312b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "09d2d9b50bfae6b7",
        "type": "debug",
        "z": "a3082a0f65c9312b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 360,
        "wires": []
    },
    {
        "id": "0fe35531fd1fd409",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Source B",
        "payload": "Hello mars!",
        "payloadType": "str",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "7e81586c4c63095b"
            ]
        ]
    },
    {
        "id": "d88493ac0ff4bd61",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"General\":{\"Details\":{\"Name\":\"Nikki\",\"Age\":33,\"City\":\"Lipa\",\"Job\":{\"Position\":\"Manager\",\"City\":\"Taysan\",\"Tenure\":\"12\"}}}}",
        "payloadType": "json",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "09d2d9b50bfae6b7"
            ]
        ]
    },
    {
        "id": "a78c4163c78cbd04",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Array",
        "payload": "[45,10,21,41]",
        "payloadType": "json",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "2571978a4b0f9464"
            ]
        ]
    },
    {
        "id": "2571978a4b0f9464",
        "type": "debug",
        "z": "a3082a0f65c9312b",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 40,
        "wires": []
    },
    {
        "id": "73bc2451757d2a5d",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"General\":{\"Details\":{\"Name\":\"Nikki\",\"Age\":33,\"City\":\"Lipa\",\"Job\":{\"Position\":\"Manager\",\"City\":\"Taysan\",\"Tenure\":\"12\"}}}}",
        "payloadType": "json",
        "x": 94,
        "y": 556,
        "wires": [
            [
                "78836a00e34a04ec"
            ]
        ]
    },
    {
        "id": "78836a00e34a04ec",
        "type": "debug",
        "z": "a3082a0f65c9312b",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 560,
        "wires": []
    },
    {
        "id": "21f3d08b4b873248",
        "type": "comment",
        "z": "a3082a0f65c9312b",
        "name": "json injection",
        "info": "",
        "x": 90,
        "y": 320,
        "wires": []
    },
    {
        "id": "fce5bef050a8c963",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"General\":{\"Details\":{\"Name\":\"Nikki\",\"Age\":33,\"City\":\"Lipa\",\"Job\":{\"Position\":\"Manager\",\"City\":\"Taysan\",\"Tenure\":\"12\"}}}}",
        "payloadType": "json",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "09d2d9b50bfae6b7"
            ]
        ]
    },
    {
        "id": "70b443ed47c9d01a",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"General\":{\"Details\":{\"Name\":\"Nikki\",\"Age\":33,\"City\":\"Lipa\",\"Job\":{\"Position\":\"Manager\",\"City\":\"Taysan\",\"Tenure\":\"12\"}}}}",
        "payloadType": "json",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "46d2e1c00656dbe9"
            ]
        ]
    },
    {
        "id": "46d2e1c00656dbe9",
        "type": "debug",
        "z": "a3082a0f65c9312b",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.General.Details.Job.City",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 460,
        "wires": []
    },
    {
        "id": "6e613f7888d2d64c",
        "type": "debug",
        "z": "a3082a0f65c9312b",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 760,
        "wires": []
    },
    {
        "id": "73df09ccfdb2faa7",
        "type": "link in",
        "z": "a3082a0f65c9312b",
        "name": "link in 2",
        "links": [
            "46b95c56c0a61468"
        ],
        "x": 155,
        "y": 780,
        "wires": [
            [
                "6e613f7888d2d64c"
            ]
        ]
    },
    {
        "id": "cd49b122ef73e97f",
        "type": "inject",
        "z": "5c580b763f8d6311",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "01275cf3433fcde9",
                "46b95c56c0a61468"
            ]
        ]
    },
    {
        "id": "01275cf3433fcde9",
        "type": "debug",
        "z": "5c580b763f8d6311",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "46b95c56c0a61468",
        "type": "link out",
        "z": "5c580b763f8d6311",
        "name": "LinkOut",
        "mode": "link",
        "links": [
            "1de651941a5eebb4",
            "73df09ccfdb2faa7"
        ],
        "x": 325,
        "y": 220,
        "wires": []
    },
    {
        "id": "1de651941a5eebb4",
        "type": "link in",
        "z": "5c580b763f8d6311",
        "name": "link in 1",
        "links": [
            "46b95c56c0a61468"
        ],
        "x": 575,
        "y": 220,
        "wires": [
            [
                "6420e466ad71ddd0"
            ]
        ]
    },
    {
        "id": "6420e466ad71ddd0",
        "type": "debug",
        "z": "5c580b763f8d6311",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "1db705994d314a4f",
        "type": "function",
        "z": "97b79648ae0519e6",
        "name": "First Call",
        "func": "var p = msg.payload;\nmsg.payload =p;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 60,
        "wires": [
            [
                "2bc036e77b0bc1f5"
            ]
        ]
    },
    {
        "id": "894e2854e4c826eb",
        "type": "inject",
        "z": "97b79648ae0519e6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World ",
        "payloadType": "str",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "1db705994d314a4f"
            ]
        ]
    },
    {
        "id": "2bc036e77b0bc1f5",
        "type": "debug",
        "z": "97b79648ae0519e6",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "cb11d40724a58844",
        "type": "inject",
        "z": "97b79648ae0519e6",
        "name": "Details Input",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Details\":{\"Name\":\"Nikki\",\"Age\":13,\"City\":\"Lipa\",\"Job\":{\"Position\":\"Manager\",\"City\":\"Taysan\",\"Tenure\":\"12\"}}}",
        "payloadType": "json",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "d242823d33e0f783"
            ]
        ]
    },
    {
        "id": "0efb395c1be1f2e7",
        "type": "debug",
        "z": "97b79648ae0519e6",
        "name": "Name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "d242823d33e0f783",
        "type": "function",
        "z": "97b79648ae0519e6",
        "name": "Segregate Output",
        "func": "var p1 = {payload: msg.payload.Details.Name};\nvar p2 = {payload: msg.payload.Details.Age};\nvar p3 = {payload: msg.payload.Details.City};\nvar p4 = {payload: msg.payload.Details.Job.Position};\nreturn [p1,p2,p3,p4];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 300,
        "wires": [
            [
                "0efb395c1be1f2e7"
            ],
            [
                "5d6d416dbd4462d1"
            ],
            [
                "6aafc6b9f1cd7a1b"
            ],
            [
                "f0fe4aa299b0f2a9"
            ]
        ]
    },
    {
        "id": "5d6d416dbd4462d1",
        "type": "debug",
        "z": "97b79648ae0519e6",
        "name": "Age",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "6aafc6b9f1cd7a1b",
        "type": "debug",
        "z": "97b79648ae0519e6",
        "name": "City",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "f0fe4aa299b0f2a9",
        "type": "debug",
        "z": "97b79648ae0519e6",
        "name": "Position",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "fa504042c7f7bb6c",
        "type": "inject",
        "z": "97b79648ae0519e6",
        "name": "String Input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Nikki",
        "payloadType": "str",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "c1a75bc4fd615166"
            ]
        ]
    },
    {
        "id": "c1a75bc4fd615166",
        "type": "function",
        "z": "97b79648ae0519e6",
        "name": "Process Input",
        "func": "var p = msg.payload;\nmsg.payload = p.length;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "c284d3f45c592b6d"
            ]
        ]
    },
    {
        "id": "c284d3f45c592b6d",
        "type": "function",
        "z": "97b79648ae0519e6",
        "name": "Condition ",
        "func": "var s  = msg.payload;\n\nif (s > 3)\n{\n    msg.payload =true;\n}\nelse\n{\n    msg.payload =false;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 160,
        "wires": [
            [
                "732c894cc3ecd1c8"
            ]
        ]
    },
    {
        "id": "732c894cc3ecd1c8",
        "type": "function",
        "z": "97b79648ae0519e6",
        "name": "Set Topic ",
        "func": "var t = \"Result\";\nmsg.topic =t;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 160,
        "wires": [
            [
                "a017307a0d27475b"
            ]
        ]
    },
    {
        "id": "a017307a0d27475b",
        "type": "debug",
        "z": "97b79648ae0519e6",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "4d02797fa35fcb4a",
        "type": "inject",
        "z": "0ec30a985bffe47f",
        "name": "Number",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "22",
        "payloadType": "num",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "e25af6736fd7f763"
            ]
        ]
    },
    {
        "id": "0ada83e47f3733ee",
        "type": "inject",
        "z": "0ec30a985bffe47f",
        "name": "Name",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Nikki",
        "payloadType": "str",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "e25af6736fd7f763"
            ]
        ]
    },
    {
        "id": "e25af6736fd7f763",
        "type": "function",
        "z": "0ec30a985bffe47f",
        "name": "Switch Implementation ",
        "func": "var n = msg.payload;\n\nif (n == 22){\n    return [msg,null]\n}\n\nif (n== \"Nikki\"){\n    return [null,msg]\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 140,
        "wires": [
            [
                "211e9c9f804b245e"
            ],
            [
                "234a8ebbf13a16d5"
            ]
        ]
    },
    {
        "id": "211e9c9f804b245e",
        "type": "debug",
        "z": "0ec30a985bffe47f",
        "name": "Date",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "234a8ebbf13a16d5",
        "type": "debug",
        "z": "0ec30a985bffe47f",
        "name": "Name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "4f694f682a72a69b",
        "type": "switch",
        "z": "0ec30a985bffe47f",
        "name": "Payload Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "22",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "Nikki",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 380,
        "wires": [
            [
                "211e9c9f804b245e"
            ],
            [
                "234a8ebbf13a16d5"
            ]
        ]
    },
    {
        "id": "924adabb1a977d43",
        "type": "inject",
        "z": "0ec30a985bffe47f",
        "name": "Number",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "NumberOnly",
        "payload": "22",
        "payloadType": "num",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "4f694f682a72a69b",
                "2f9751da3cf2f80f"
            ]
        ]
    },
    {
        "id": "7f6054b3287b0d59",
        "type": "inject",
        "z": "0ec30a985bffe47f",
        "name": "Name",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "UnknownOnly",
        "payload": "Nikki",
        "payloadType": "str",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "4f694f682a72a69b",
                "2f9751da3cf2f80f"
            ]
        ]
    },
    {
        "id": "2f9751da3cf2f80f",
        "type": "switch",
        "z": "0ec30a985bffe47f",
        "name": "Topic Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NumberOnly",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "StringOnly",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 520,
        "wires": [
            [
                "211e9c9f804b245e"
            ],
            [
                "234a8ebbf13a16d5"
            ]
        ]
    },
    {
        "id": "902e3296afb499dc",
        "type": "inject",
        "z": "aa0be5d8fb5b13e9",
        "name": "Info",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Details",
        "payload": "Nikki",
        "payloadType": "str",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "a5e6e031c10063cc",
                "2658118c23e24ef9",
                "cc14231d5e1c4938",
                "e508dc98bf82a270"
            ]
        ]
    },
    {
        "id": "a5e6e031c10063cc",
        "type": "change",
        "z": "aa0be5d8fb5b13e9",
        "name": "Set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "0ebfa501f4938ce7"
            ]
        ]
    },
    {
        "id": "2658118c23e24ef9",
        "type": "change",
        "z": "aa0be5d8fb5b13e9",
        "name": "Change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ki",
                "fromt": "str",
                "to": "ka",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "0ebfa501f4938ce7"
            ]
        ]
    },
    {
        "id": "cc14231d5e1c4938",
        "type": "change",
        "z": "aa0be5d8fb5b13e9",
        "name": "Delete",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "0ebfa501f4938ce7"
            ]
        ]
    },
    {
        "id": "e508dc98bf82a270",
        "type": "change",
        "z": "aa0be5d8fb5b13e9",
        "name": "Move",
        "rules": [
            {
                "t": "move",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 340,
        "wires": [
            [
                "0ebfa501f4938ce7"
            ]
        ]
    },
    {
        "id": "0ebfa501f4938ce7",
        "type": "debug",
        "z": "aa0be5d8fb5b13e9",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "b57844d67fefe3fb",
        "type": "range",
        "z": "a6d33dd70f458e63",
        "minin": "4",
        "maxin": "20",
        "minout": "0",
        "maxout": "500",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "Transmitter",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "7a9c588ff3b1d5af"
            ]
        ]
    },
    {
        "id": "a03e3d86781759da",
        "type": "inject",
        "z": "a6d33dd70f458e63",
        "name": "Sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Thermocouple ",
        "payload": "12",
        "payloadType": "num",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "b57844d67fefe3fb"
            ]
        ]
    },
    {
        "id": "7a9c588ff3b1d5af",
        "type": "debug",
        "z": "a6d33dd70f458e63",
        "name": "PLC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "3d6b819a8d4e2ba2",
        "type": "split",
        "z": "7e3cb7c4656eebe4",
        "name": "",
        "splt": " ",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "key",
        "property": "payload",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "ee947034d972024b"
            ]
        ]
    },
    {
        "id": "69e18ebbdca6463e",
        "type": "inject",
        "z": "7e3cb7c4656eebe4",
        "name": "Array",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"N\",\"I\",\"K\",\"K\",\"I\"]",
        "payloadType": "json",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "3d6b819a8d4e2ba2"
            ]
        ]
    },
    {
        "id": "ee947034d972024b",
        "type": "debug",
        "z": "7e3cb7c4656eebe4",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "94f57da0505f92e3",
        "type": "inject",
        "z": "7e3cb7c4656eebe4",
        "name": "String",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Nikki Escamillas",
        "payloadType": "str",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "3d6b819a8d4e2ba2"
            ]
        ]
    },
    {
        "id": "2d694007b5eeda4c",
        "type": "inject",
        "z": "7e3cb7c4656eebe4",
        "name": "JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Nikki\":{\"Name\":\"Nikki\",\"Age\":22,\"City\":\"Lipa\"},\"Mika\":{\"Name\":\"Mika\",\"Age\":30,\"City\":\"Manda\"}}",
        "payloadType": "json",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "3d6b819a8d4e2ba2"
            ]
        ]
    },
    {
        "id": "65fc37f37748ec01",
        "type": "inject",
        "z": "7e3cb7c4656eebe4",
        "name": "JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Name\":\"Nikki\",\"Age\":22,\"City\":\"Lipa\"}",
        "payloadType": "json",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "3d6b819a8d4e2ba2"
            ]
        ]
    },
    {
        "id": "014c3db9a71b628e",
        "type": "join",
        "z": "7e3cb7c4656eebe4",
        "name": "join",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 470,
        "y": 440,
        "wires": [
            [
                "14874128d430ec32"
            ]
        ]
    },
    {
        "id": "844d6cf7135a03cb",
        "type": "inject",
        "z": "7e3cb7c4656eebe4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "06",
        "payloadType": "num",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "014c3db9a71b628e",
                "bc276a12aff0cf18"
            ]
        ]
    },
    {
        "id": "42beb67aca0f1edd",
        "type": "inject",
        "z": "7e3cb7c4656eebe4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "22",
        "payloadType": "num",
        "x": 190,
        "y": 460,
        "wires": [
            [
                "014c3db9a71b628e",
                "bc276a12aff0cf18"
            ]
        ]
    },
    {
        "id": "b58b6e5cbe613fa7",
        "type": "inject",
        "z": "7e3cb7c4656eebe4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1991",
        "payloadType": "num",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "014c3db9a71b628e",
                "bc276a12aff0cf18"
            ]
        ]
    },
    {
        "id": "14874128d430ec32",
        "type": "debug",
        "z": "7e3cb7c4656eebe4",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 440,
        "wires": []
    },
    {
        "id": "8f26c7033c921285",
        "type": "function",
        "z": "7e3cb7c4656eebe4",
        "name": "complete msg",
        "func": "msg.complete =true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 660,
        "wires": [
            [
                "014c3db9a71b628e"
            ]
        ]
    },
    {
        "id": "78a7b9345d397b4c",
        "type": "inject",
        "z": "7e3cb7c4656eebe4",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Complete",
        "payloadType": "str",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "8f26c7033c921285"
            ]
        ]
    },
    {
        "id": "bc276a12aff0cf18",
        "type": "join",
        "z": "7e3cb7c4656eebe4",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "-",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 650,
        "y": 580,
        "wires": [
            [
                "14874128d430ec32"
            ]
        ]
    },
    {
        "id": "afd934d4.948368",
        "type": "split",
        "z": "da15485e.1b2b78",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 366.99999618530273,
        "y": 292,
        "wires": [
            [
                "a589a0c8.fd41e"
            ]
        ]
    },
    {
        "id": "686e51a9.2ecd3",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[9,45,2,8,9]",
        "payloadType": "json",
        "x": 177.99999618530273,
        "y": 291,
        "wires": [
            [
                "afd934d4.948368"
            ]
        ]
    },
    {
        "id": "a589a0c8.fd41e",
        "type": "debug",
        "z": "da15485e.1b2b78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 572.9999961853027,
        "y": 285,
        "wires": []
    },
    {
        "id": "221a58b1.fb73c8",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"hello\",\"bye\",2,8,9]",
        "payloadType": "json",
        "x": 165.99999618530273,
        "y": 345,
        "wires": [
            [
                "dc2d9b02.428218"
            ]
        ]
    },
    {
        "id": "dc2d9b02.428218",
        "type": "split",
        "z": "da15485e.1b2b78",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 364.99999618530273,
        "y": 345,
        "wires": [
            [
                "1b627371.d2a3dd"
            ]
        ]
    },
    {
        "id": "1b627371.d2a3dd",
        "type": "debug",
        "z": "da15485e.1b2b78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 572.9999961853027,
        "y": 345,
        "wires": []
    },
    {
        "id": "712b812.f9d718",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"hello\",\"bye\",2,8,9]",
        "payloadType": "json",
        "x": 164.0000114440918,
        "y": 398.99999046325684,
        "wires": [
            [
                "72a9049a.035b3c"
            ]
        ]
    },
    {
        "id": "72a9049a.035b3c",
        "type": "split",
        "z": "da15485e.1b2b78",
        "name": "",
        "splt": "/n",
        "spltType": "str",
        "arraySplt": "2",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 363.0000114440918,
        "y": 398.99999046325684,
        "wires": [
            [
                "3d608292.78a92e"
            ]
        ]
    },
    {
        "id": "3d608292.78a92e",
        "type": "debug",
        "z": "da15485e.1b2b78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 571.0000114440918,
        "y": 398.99999046325684,
        "wires": []
    },
    {
        "id": "ab6d8488.16faf8",
        "type": "comment",
        "z": "da15485e.1b2b78",
        "name": "Split Array",
        "info": "",
        "x": 346.99999237060547,
        "y": 241.00000095367432,
        "wires": []
    },
    {
        "id": "d37daaf5.805698",
        "type": "join",
        "z": "da15485e.1b2b78",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 336.00001525878906,
        "y": 532.9999618530273,
        "wires": [
            [
                "8126fd63.0af74"
            ]
        ]
    },
    {
        "id": "ceaf4c94.93419",
        "type": "comment",
        "z": "da15485e.1b2b78",
        "name": "Split String",
        "info": "",
        "x": 355.00000381469727,
        "y": 75.99997520446777,
        "wires": []
    },
    {
        "id": "70d2c8f2.f25538",
        "type": "comment",
        "z": "da15485e.1b2b78",
        "name": "Join node Array",
        "info": "",
        "x": 330.00001525878906,
        "y": 459.99996185302734,
        "wires": []
    },
    {
        "id": "ea288a00.23b258",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 160.00001525878906,
        "y": 489.99996185302734,
        "wires": [
            [
                "d37daaf5.805698"
            ]
        ]
    },
    {
        "id": "43b2e33a.dcad0c",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 162.00001525878906,
        "y": 531.9999618530273,
        "wires": [
            [
                "d37daaf5.805698"
            ]
        ]
    },
    {
        "id": "ad8effb5.be8e3",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 163.00001525878906,
        "y": 574.9999618530273,
        "wires": [
            [
                "d37daaf5.805698"
            ]
        ]
    },
    {
        "id": "8126fd63.0af74",
        "type": "debug",
        "z": "da15485e.1b2b78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 518.0000152587891,
        "y": 533.9999618530273,
        "wires": []
    },
    {
        "id": "48e925d8.24b44c",
        "type": "join",
        "z": "da15485e.1b2b78",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "-",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 350.0000114440918,
        "y": 1038.9999904632568,
        "wires": [
            [
                "4e43c000.648a1"
            ]
        ]
    },
    {
        "id": "3d70521e.ce1bee",
        "type": "comment",
        "z": "da15485e.1b2b78",
        "name": "Join node string",
        "info": "",
        "x": 331.0000114440918,
        "y": 943.9999904632568,
        "wires": []
    },
    {
        "id": "32c268b2.344ae8",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 174.0000114440918,
        "y": 995.9999904632568,
        "wires": [
            [
                "48e925d8.24b44c"
            ]
        ]
    },
    {
        "id": "49ec3ee0.be551",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 179.0000114440918,
        "y": 1037.9999904632568,
        "wires": [
            [
                "48e925d8.24b44c"
            ]
        ]
    },
    {
        "id": "f876bf06.b932e",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 177.0000114440918,
        "y": 1080.9999904632568,
        "wires": [
            [
                "48e925d8.24b44c"
            ]
        ]
    },
    {
        "id": "4e43c000.648a1",
        "type": "debug",
        "z": "da15485e.1b2b78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 532.0000114440918,
        "y": 1039.9999904632568,
        "wires": []
    },
    {
        "id": "e50fea31.3959e8",
        "type": "join",
        "z": "da15485e.1b2b78",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1020.0000114440918,
        "y": 603.9999904632568,
        "wires": [
            [
                "d8d39701.5a5848"
            ]
        ]
    },
    {
        "id": "86e668a4.b2f268",
        "type": "comment",
        "z": "da15485e.1b2b78",
        "name": "Join node Key value object",
        "info": "",
        "x": 989.0000114440918,
        "y": 511.99999046325684,
        "wires": []
    },
    {
        "id": "3e3f6c1.10a7094",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "first number",
        "payload": "3",
        "payloadType": "num",
        "x": 822.0000114440918,
        "y": 563.9999904632568,
        "wires": [
            [
                "e50fea31.3959e8"
            ]
        ]
    },
    {
        "id": "abc6725d.db97",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "second number",
        "payload": "4",
        "payloadType": "num",
        "x": 813.0000114440918,
        "y": 605.9999904632568,
        "wires": [
            [
                "e50fea31.3959e8"
            ]
        ]
    },
    {
        "id": "f38c5cb7.5f8bc",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "third number",
        "payload": "5",
        "payloadType": "num",
        "x": 825.0000114440918,
        "y": 648.9999904632568,
        "wires": [
            [
                "e50fea31.3959e8"
            ]
        ]
    },
    {
        "id": "d8d39701.5a5848",
        "type": "debug",
        "z": "da15485e.1b2b78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1188.0000114440918,
        "y": 603.9999904632568,
        "wires": []
    },
    {
        "id": "7b9fd927.9d74d8",
        "type": "join",
        "z": "da15485e.1b2b78",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 352.0000114440918,
        "y": 781.9999904632568,
        "wires": [
            [
                "1e09e3bf.045c0c"
            ]
        ]
    },
    {
        "id": "1e09e3bf.045c0c",
        "type": "debug",
        "z": "da15485e.1b2b78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 527.0000114440918,
        "y": 783.9999904632568,
        "wires": []
    },
    {
        "id": "dd894aa2.9e2398",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "JSON",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "JSON1",
        "payload": "{\"Name\":\"Rajvir\",\"Age\":45,\"Place\":\"Germany\"}",
        "payloadType": "json",
        "x": 177.0000114440918,
        "y": 740.9999904632568,
        "wires": [
            [
                "7b9fd927.9d74d8"
            ]
        ]
    },
    {
        "id": "102248a4.bff107",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "JSON",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "JSON2",
        "payload": "{\"Name\":\"John\",\"Age\":45,\"Place\":\"Germany\"}",
        "payloadType": "json",
        "x": 180.0000114440918,
        "y": 784.9999904632568,
        "wires": [
            [
                "7b9fd927.9d74d8"
            ]
        ]
    },
    {
        "id": "9f3d6e0c.9e0b5",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "JSON",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "JSON3",
        "payload": "{\"Name\":\"Daniel\",\"Age\":45,\"Place\":\"Germany\"}",
        "payloadType": "json",
        "x": 185.0000114440918,
        "y": 828.9999904632568,
        "wires": [
            [
                "7b9fd927.9d74d8"
            ]
        ]
    },
    {
        "id": "d58484df.ed8598",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "x": 163.00001525878906,
        "y": 622.9999618530273,
        "wires": [
            [
                "d37daaf5.805698"
            ]
        ]
    },
    {
        "id": "696de2d1.fb0dec",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello Dr.Code",
        "payloadType": "str",
        "x": 174.78407287597656,
        "y": 132.92043685913086,
        "wires": [
            [
                "96c7e507.6253b8",
                "1f20ec50.550224"
            ]
        ]
    },
    {
        "id": "96c7e507.6253b8",
        "type": "split",
        "z": "da15485e.1b2b78",
        "name": "",
        "splt": ".",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 373.01423263549805,
        "y": 134.0056667327881,
        "wires": [
            [
                "d6105123.2c397"
            ]
        ]
    },
    {
        "id": "d6105123.2c397",
        "type": "debug",
        "z": "da15485e.1b2b78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 545.014232635498,
        "y": 132.00566864013672,
        "wires": []
    },
    {
        "id": "d670946a.9d6538",
        "type": "split",
        "z": "da15485e.1b2b78",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": "2",
        "arraySpltType": "len",
        "stream": false,
        "addname": "key",
        "property": "payload",
        "x": 989.0140724182129,
        "y": 160.00561094284058,
        "wires": [
            [
                "ea38c4a4.b58798"
            ]
        ]
    },
    {
        "id": "ea38c4a4.b58798",
        "type": "debug",
        "z": "da15485e.1b2b78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "statusVal": "",
        "statusType": "auto",
        "x": 1137.0141048431396,
        "y": 157.00561141967773,
        "wires": []
    },
    {
        "id": "7aa4a88e.5f2808",
        "type": "comment",
        "z": "da15485e.1b2b78",
        "name": "Split Object",
        "info": "",
        "x": 944.0141181945801,
        "y": 98.0056505203247,
        "wires": []
    },
    {
        "id": "31c40c11.90a724",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "JSON",
        "props": [
            {
                "p": "payload",
                "v": "{\"Job1\":[{\"Location\":\"Rheine\",\"Start time\":\"7:00\",\"Stop time\":\"17:00\"},{\"Location\":\"Swiss\",\"Start time\":\"8:00\",\"Stop time\":\"17:00\"},{\"Location\":\"Germany\",\"Start time\":\"8:00\",\"Stop time\":\"17:00\"}],\"Job2\":[{\"Location\":\"Rheine\",\"Start time\":\"7:00\",\"Stop time\":\"17:00\"},{\"Location\":\"Swiss\",\"Start time\":\"8:00\",\"Stop time\":\"17:00\"},{\"Location\":\"Germany\",\"Start time\":\"8:00\",\"Stop time\":\"17:00\"}],\"Job3\":[{\"Location\":\"Rheine\",\"Start time\":\"7:00\",\"Stop time\":\"17:00\"},{\"Location\":\"Swiss\",\"Start time\":\"8:00\",\"Stop time\":\"17:00\"},{\"Location\":\"Germany\",\"Start time\":\"8:00\",\"Stop time\":\"17:00\"}]}",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "JSON",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "JSON",
        "payload": "{\"Job1\":[{\"Location\":\"Rheine\",\"Start time\":\"7:00\",\"Stop time\":\"17:00\"},{\"Location\":\"Swiss\",\"Start time\":\"8:00\",\"Stop time\":\"17:00\"},{\"Location\":\"Germany\",\"Start time\":\"8:00\",\"Stop time\":\"17:00\"}],\"Job2\":[{\"Location\":\"Rheine\",\"Start time\":\"7:00\",\"Stop time\":\"17:00\"},{\"Location\":\"Swiss\",\"Start time\":\"8:00\",\"Stop time\":\"17:00\"},{\"Location\":\"Germany\",\"Start time\":\"8:00\",\"Stop time\":\"17:00\"}],\"Job3\":[{\"Location\":\"Rheine\",\"Start time\":\"7:00\",\"Stop time\":\"17:00\"},{\"Location\":\"Swiss\",\"Start time\":\"8:00\",\"Stop time\":\"17:00\"},{\"Location\":\"Germany\",\"Start time\":\"8:00\",\"Stop time\":\"17:00\"}]}",
        "payloadType": "json",
        "x": 790.2869262695312,
        "y": 214.00567626953125,
        "wires": [
            [
                "d670946a.9d6538",
                "57cbdbc8.202934"
            ]
        ]
    },
    {
        "id": "57cbdbc8.202934",
        "type": "debug",
        "z": "da15485e.1b2b78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1137.2868118286133,
        "y": 216.0056667327881,
        "wires": []
    },
    {
        "id": "c2780a8a.118098",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "JSON",
        "payload": "{\"Location\":\"Rheine\",\"Start time\":\"7:00\",\"Stop time\":\"17:00\"}",
        "payloadType": "json",
        "x": 790.2868957519531,
        "y": 160.00566482543945,
        "wires": [
            [
                "d670946a.9d6538",
                "57cbdbc8.202934"
            ]
        ]
    },
    {
        "id": "1f20ec50.550224",
        "type": "debug",
        "z": "da15485e.1b2b78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 545.7925872802734,
        "y": 187.7045383453369,
        "wires": []
    },
    {
        "id": "65ae97be.8aeb68",
        "type": "function",
        "z": "da15485e.1b2b78",
        "name": "msg.complete",
        "func": "msg.complete=true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 283.78125,
        "y": 673.5283117294312,
        "wires": [
            [
                "d37daaf5.805698"
            ]
        ]
    },
    {
        "id": "8e1aeb71.c6ef58",
        "type": "inject",
        "z": "da15485e.1b2b78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Complete",
        "payloadType": "str",
        "x": 98.78689193725586,
        "y": 673.7329111099243,
        "wires": [
            [
                "65ae97be.8aeb68"
            ]
        ]
    },
    {
        "id": "08120ae14e7c655b",
        "type": "inject",
        "z": "199afd630539f6b6",
        "name": "Nikki",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Nikki",
        "payload": "{\"Name\":\"Nikki\",\"Age\":22,\"City\":\"Lipa\"}",
        "payloadType": "json",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "8398fd53e602433e"
            ]
        ]
    },
    {
        "id": "3010c32105f10cb4",
        "type": "inject",
        "z": "199afd630539f6b6",
        "name": "Mika",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Mika",
        "payload": "{\"Name\":\"Mika\",\"Age\":30,\"City\":\"Manda\"}",
        "payloadType": "json",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "8398fd53e602433e"
            ]
        ]
    },
    {
        "id": "319d04fcfb13d324",
        "type": "inject",
        "z": "199afd630539f6b6",
        "name": "Mj",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Mj",
        "payload": "{\"Name\":\"Mj\",\"Age\":11,\"City\":\"Sto.Tomas\"}",
        "payloadType": "json",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "8398fd53e602433e"
            ]
        ]
    },
    {
        "id": "8398fd53e602433e",
        "type": "join",
        "z": "199afd630539f6b6",
        "name": "Join",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "049dab8e61e1d578",
                "971db2a5ef8569f6"
            ]
        ]
    },
    {
        "id": "9709e9a751bf4760",
        "type": "debug",
        "z": "199afd630539f6b6",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "049dab8e61e1d578",
        "type": "split",
        "z": "199afd630539f6b6",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "key",
        "property": "payload.Object.Name",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "9709e9a751bf4760"
            ]
        ]
    },
    {
        "id": "971db2a5ef8569f6",
        "type": "split",
        "z": "199afd630539f6b6",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 650,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "cf3789d37fb92170",
        "type": "sort",
        "z": "478962d8a3b3854b",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "payload",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 610,
        "y": 120,
        "wires": [
            [
                "8ab525020371b91f"
            ]
        ]
    },
    {
        "id": "89a6f776557d095d",
        "type": "batch",
        "z": "478962d8a3b3854b",
        "name": "batch",
        "mode": "count",
        "count": "5",
        "overlap": "0",
        "interval": 10,
        "allowEmptySequence": false,
        "honourParts": false,
        "topics": [],
        "x": 600,
        "y": 220,
        "wires": [
            [
                "8ab525020371b91f"
            ]
        ]
    },
    {
        "id": "240632dbd29fecb8",
        "type": "inject",
        "z": "478962d8a3b3854b",
        "name": "Input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[22,6,11,98,26,3,20,10,30,64,60,94,91]",
        "payloadType": "json",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "cf3789d37fb92170"
            ]
        ]
    },
    {
        "id": "d6157150cbfc617e",
        "type": "inject",
        "z": "478962d8a3b3854b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "33",
        "payloadType": "num",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "89a6f776557d095d"
            ]
        ]
    },
    {
        "id": "8b58fc6733d3c4a4",
        "type": "inject",
        "z": "478962d8a3b3854b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "89a6f776557d095d"
            ]
        ]
    },
    {
        "id": "0e2509da169acc73",
        "type": "inject",
        "z": "478962d8a3b3854b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "26",
        "payloadType": "num",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "89a6f776557d095d",
                "9988bbd6bc012bd0"
            ]
        ]
    },
    {
        "id": "8ab525020371b91f",
        "type": "debug",
        "z": "478962d8a3b3854b",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "8242fe3ca907ca60",
        "type": "inject",
        "z": "478962d8a3b3854b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "64",
        "payloadType": "num",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "89a6f776557d095d"
            ]
        ]
    },
    {
        "id": "cc7901a465606f36",
        "type": "inject",
        "z": "478962d8a3b3854b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "60",
        "payloadType": "num",
        "x": 250,
        "y": 500,
        "wires": [
            [
                "89a6f776557d095d"
            ]
        ]
    },
    {
        "id": "9988bbd6bc012bd0",
        "type": "link out",
        "z": "478962d8a3b3854b",
        "name": "sample",
        "mode": "link",
        "links": [
            "f2996f9033e16355"
        ],
        "x": 615,
        "y": 400,
        "wires": []
    },
    {
        "id": "c5ebebe658bbf6e7",
        "type": "trigger",
        "z": "adad75a1bdfe07d3",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 600,
        "y": 500,
        "wires": [
            [
                "e35966e379226a80"
            ]
        ]
    },
    {
        "id": "4794ca12ef7b732e",
        "type": "inject",
        "z": "adad75a1bdfe07d3",
        "name": "Input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[22,6,11,98,26,3,20,10,30,64,60,94,91]",
        "payloadType": "json",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "0508ac7a57cce8bc",
                "f095f0d3c82ad5e3",
                "c5ebebe658bbf6e7"
            ]
        ]
    },
    {
        "id": "225cdaab02b14f01",
        "type": "debug",
        "z": "adad75a1bdfe07d3",
        "name": "Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 140,
        "wires": []
    },
    {
        "id": "0508ac7a57cce8bc",
        "type": "delay",
        "z": "adad75a1bdfe07d3",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "ae81e8e92c0fba01"
            ]
        ]
    },
    {
        "id": "f095f0d3c82ad5e3",
        "type": "delay",
        "z": "adad75a1bdfe07d3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 140,
        "wires": [
            [
                "225cdaab02b14f01"
            ]
        ]
    },
    {
        "id": "ae81e8e92c0fba01",
        "type": "debug",
        "z": "adad75a1bdfe07d3",
        "name": "Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "e35966e379226a80",
        "type": "debug",
        "z": "adad75a1bdfe07d3",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 500,
        "wires": []
    },
    {
        "id": "f1c572b49f84cc8c",
        "type": "function",
        "z": "adad75a1bdfe07d3",
        "name": "reset",
        "func": "msg.reset =true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 580,
        "wires": [
            [
                "c5ebebe658bbf6e7"
            ]
        ]
    },
    {
        "id": "5df3ecf34b14e225",
        "type": "inject",
        "z": "adad75a1bdfe07d3",
        "name": "reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 480,
        "wires": [
            [
                "f1c572b49f84cc8c"
            ]
        ]
    },
    {
        "id": "0b690e68649cccc9",
        "type": "rbe",
        "z": "a9d8e4b27b13f95f",
        "name": "block",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 650,
        "y": 100,
        "wires": [
            [
                "cd6a436dc5d1d789"
            ]
        ]
    },
    {
        "id": "f2996f9033e16355",
        "type": "link in",
        "z": "a9d8e4b27b13f95f",
        "name": "link in 3",
        "links": [
            "9988bbd6bc012bd0"
        ],
        "x": 265,
        "y": 120,
        "wires": [
            [
                "0b690e68649cccc9"
            ]
        ]
    },
    {
        "id": "ebd40bdb3c6e93a8",
        "type": "inject",
        "z": "a9d8e4b27b13f95f",
        "name": "Input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "21",
        "payloadType": "num",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "0b690e68649cccc9",
                "8b769f0313ea5ac1",
                "ab0801cd654574d7"
            ]
        ]
    },
    {
        "id": "cd6a436dc5d1d789",
        "type": "debug",
        "z": "a9d8e4b27b13f95f",
        "name": "Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 100,
        "wires": []
    },
    {
        "id": "8b769f0313ea5ac1",
        "type": "rbe",
        "z": "a9d8e4b27b13f95f",
        "name": "deadband",
        "func": "narrowband",
        "gap": "10%",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 660,
        "y": 240,
        "wires": [
            [
                "e4d3d485b93819e6"
            ]
        ]
    },
    {
        "id": "e4d3d485b93819e6",
        "type": "debug",
        "z": "a9d8e4b27b13f95f",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "14d351136ce0b7a9",
        "type": "debug",
        "z": "a9d8e4b27b13f95f",
        "name": "Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 360,
        "wires": []
    },
    {
        "id": "ab0801cd654574d7",
        "type": "rbe",
        "z": "a9d8e4b27b13f95f",
        "name": "narrowband",
        "func": "deadbandEq",
        "gap": "10%",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 690,
        "y": 360,
        "wires": [
            [
                "14d351136ce0b7a9"
            ]
        ]
    },
    {
        "id": "df8cd466d1160838",
        "type": "function",
        "z": "996690f4b63356f5",
        "name": "context_local",
        "func": "context.set('count',22);\n\nvar num = context.get('count') || 0;\nmsg.payload =num;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 120,
        "wires": [
            [
                "a29a505286c970d8"
            ]
        ]
    },
    {
        "id": "39405a7d88b9b87c",
        "type": "inject",
        "z": "996690f4b63356f5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "df8cd466d1160838"
            ]
        ]
    },
    {
        "id": "a29a505286c970d8",
        "type": "debug",
        "z": "996690f4b63356f5",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 120,
        "wires": []
    },
    {
        "id": "091502ce30e01a0f",
        "type": "inject",
        "z": "996690f4b63356f5",
        "name": "count",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Count",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 300,
        "wires": [
            [
                "a0308756dbaf94e7"
            ]
        ]
    },
    {
        "id": "a0308756dbaf94e7",
        "type": "function",
        "z": "996690f4b63356f5",
        "name": "Counter",
        "func": "if (msg.topic ==\"Count\")\n{\n    var num = context.get('count') || 0;\n    num  = num +2;\n    context.set(\"count\", num);\n    msg.payload = num;\n    return msg;\n}\n\nelse if (msg.topic ==\"Reset\")\n{\n    var num = context.set('count',msg.payload);\n  \n  \n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 300,
        "wires": [
            [
                "a29a505286c970d8"
            ]
        ]
    },
    {
        "id": "9790bfffd5234211",
        "type": "inject",
        "z": "996690f4b63356f5",
        "name": "reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Reset",
        "payload": "-1",
        "payloadType": "num",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "a0308756dbaf94e7"
            ]
        ]
    },
    {
        "id": "91fb3d9517028497",
        "type": "function",
        "z": "996690f4b63356f5",
        "name": "global_local",
        "func": "global.set('gbl',30);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 695.0000076293945,
        "y": 721.0000095367432,
        "wires": [
            []
        ]
    },
    {
        "id": "b09d3d99fe462efc",
        "type": "inject",
        "z": "996690f4b63356f5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 305.00000762939453,
        "y": 721.0000095367432,
        "wires": [
            [
                "91fb3d9517028497"
            ]
        ]
    },
    {
        "id": "5a6732df5f9c2f41",
        "type": "comment",
        "z": "996690f4b63356f5",
        "name": "Context Implementation",
        "info": "Context Implementation\n",
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "9b9d92293d374b59",
        "type": "comment",
        "z": "996690f4b63356f5",
        "name": "Global Implementation",
        "info": "",
        "x": 260,
        "y": 660,
        "wires": []
    },
    {
        "id": "b3e20555052c9f03",
        "type": "function",
        "z": "996690f4b63356f5",
        "name": "context_local_call",
        "func": "var num = context.get('count') || 0;\nmsg.payload =num;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 500,
        "wires": [
            [
                "1cd39c1c79b8a8c5"
            ]
        ]
    },
    {
        "id": "3fb48099929ee4f0",
        "type": "inject",
        "z": "996690f4b63356f5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 500,
        "wires": [
            [
                "b3e20555052c9f03"
            ]
        ]
    },
    {
        "id": "1cd39c1c79b8a8c5",
        "type": "debug",
        "z": "996690f4b63356f5",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 500,
        "wires": []
    },
    {
        "id": "a6eecf203c38166d",
        "type": "comment",
        "z": "996690f4b63356f5",
        "name": "Flow Implementation",
        "info": "",
        "x": 270,
        "y": 840,
        "wires": []
    },
    {
        "id": "50956b4df1e82de1",
        "type": "function",
        "z": "996690f4b63356f5",
        "name": "flow_local",
        "func": "flow.set('count', 8)\n\nvar num = flow.get('count') || 0;\nmsg.payload =num;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 940,
        "wires": [
            [
                "8b5313166579fad9"
            ]
        ]
    },
    {
        "id": "9945e38b295c4c38",
        "type": "inject",
        "z": "996690f4b63356f5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 940,
        "wires": [
            [
                "50956b4df1e82de1"
            ]
        ]
    },
    {
        "id": "8b5313166579fad9",
        "type": "debug",
        "z": "996690f4b63356f5",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 940,
        "wires": []
    },
    {
        "id": "c267e5aabd8a0085",
        "type": "function",
        "z": "996690f4b63356f5",
        "name": "flow_local_call",
        "func": "var num = flow.get('count') || 0;\nmsg.payload =num +1 ;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1080,
        "wires": [
            [
                "a60441f72162135c"
            ]
        ]
    },
    {
        "id": "a60441f72162135c",
        "type": "debug",
        "z": "996690f4b63356f5",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1080,
        "wires": []
    },
    {
        "id": "1ac1d407c02800d7",
        "type": "inject",
        "z": "996690f4b63356f5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 1080,
        "wires": [
            [
                "c267e5aabd8a0085"
            ]
        ]
    },
    {
        "id": "0276f8444749d352",
        "type": "inject",
        "z": "5d3794f41218afe7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "c1b9df55a30ffd67"
            ]
        ]
    },
    {
        "id": "450859e13408d58a",
        "type": "debug",
        "z": "5d3794f41218afe7",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "c1b9df55a30ffd67",
        "type": "function",
        "z": "5d3794f41218afe7",
        "name": "context_remote",
        "func": "msg.payload = context.get('count') || 0\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 120,
        "wires": [
            [
                "450859e13408d58a"
            ]
        ]
    },
    {
        "id": "15fb2945030dbe0e",
        "type": "inject",
        "z": "5d3794f41218afe7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "96fa0ddd1355bab8"
            ]
        ]
    },
    {
        "id": "96fa0ddd1355bab8",
        "type": "function",
        "z": "5d3794f41218afe7",
        "name": "global_remote",
        "func": "var num = global.get('gbl');\nmsg.payload =num;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            [
                "450859e13408d58a"
            ]
        ]
    },
    {
        "id": "50625b998187b7aa",
        "type": "comment",
        "z": "5d3794f41218afe7",
        "name": "Context Implementation",
        "info": "Context Implementation\n",
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "c41fbdb44bd69b3e",
        "type": "comment",
        "z": "5d3794f41218afe7",
        "name": "Global Implementation",
        "info": "",
        "x": 300,
        "y": 200,
        "wires": []
    }
]