flows.json
[
    {
        "id": "a3082a0f65c9312b",
        "type": "tab",
        "label": "Inject and Debug",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c580b763f8d6311",
        "type": "tab",
        "label": "Link In Out",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "97b79648ae0519e6",
        "type": "tab",
        "label": "Function",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0ec30a985bffe47f",
        "type": "tab",
        "label": "Switch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aa0be5d8fb5b13e9",
        "type": "tab",
        "label": "Change",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a6d33dd70f458e63",
        "type": "tab",
        "label": "Range",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e3cb7c4656eebe4",
        "type": "tab",
        "label": "Split",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "edacc186137ae847",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "bfb2046eac10ddf0"
            ]
        ]
    },
    {
        "id": "bfb2046eac10ddf0",
        "type": "debug",
        "z": "a3082a0f65c9312b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "876abca378446e9c",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Source A",
        "payload": "Hello world!",
        "payloadType": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "7e81586c4c63095b"
            ]
        ]
    },
    {
        "id": "7e81586c4c63095b",
        "type": "debug",
        "z": "a3082a0f65c9312b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "09d2d9b50bfae6b7",
        "type": "debug",
        "z": "a3082a0f65c9312b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 360,
        "wires": []
    },
    {
        "id": "0fe35531fd1fd409",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Source B",
        "payload": "Hello mars!",
        "payloadType": "str",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "7e81586c4c63095b"
            ]
        ]
    },
    {
        "id": "d88493ac0ff4bd61",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"General\":{\"Details\":{\"Name\":\"Nikki\",\"Age\":33,\"City\":\"Lipa\",\"Job\":{\"Position\":\"Manager\",\"City\":\"Taysan\",\"Tenure\":\"12\"}}}}",
        "payloadType": "json",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "09d2d9b50bfae6b7"
            ]
        ]
    },
    {
        "id": "a78c4163c78cbd04",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Array",
        "payload": "[45,10,21,41]",
        "payloadType": "json",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "2571978a4b0f9464"
            ]
        ]
    },
    {
        "id": "2571978a4b0f9464",
        "type": "debug",
        "z": "a3082a0f65c9312b",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 40,
        "wires": []
    },
    {
        "id": "73bc2451757d2a5d",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"General\":{\"Details\":{\"Name\":\"Nikki\",\"Age\":33,\"City\":\"Lipa\",\"Job\":{\"Position\":\"Manager\",\"City\":\"Taysan\",\"Tenure\":\"12\"}}}}",
        "payloadType": "json",
        "x": 94,
        "y": 556,
        "wires": [
            [
                "78836a00e34a04ec"
            ]
        ]
    },
    {
        "id": "78836a00e34a04ec",
        "type": "debug",
        "z": "a3082a0f65c9312b",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 560,
        "wires": []
    },
    {
        "id": "21f3d08b4b873248",
        "type": "comment",
        "z": "a3082a0f65c9312b",
        "name": "json injection",
        "info": "",
        "x": 90,
        "y": 320,
        "wires": []
    },
    {
        "id": "fce5bef050a8c963",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"General\":{\"Details\":{\"Name\":\"Nikki\",\"Age\":33,\"City\":\"Lipa\",\"Job\":{\"Position\":\"Manager\",\"City\":\"Taysan\",\"Tenure\":\"12\"}}}}",
        "payloadType": "json",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "09d2d9b50bfae6b7"
            ]
        ]
    },
    {
        "id": "70b443ed47c9d01a",
        "type": "inject",
        "z": "a3082a0f65c9312b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"General\":{\"Details\":{\"Name\":\"Nikki\",\"Age\":33,\"City\":\"Lipa\",\"Job\":{\"Position\":\"Manager\",\"City\":\"Taysan\",\"Tenure\":\"12\"}}}}",
        "payloadType": "json",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "46d2e1c00656dbe9"
            ]
        ]
    },
    {
        "id": "46d2e1c00656dbe9",
        "type": "debug",
        "z": "a3082a0f65c9312b",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.General.Details.Job.City",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 460,
        "wires": []
    },
    {
        "id": "6e613f7888d2d64c",
        "type": "debug",
        "z": "a3082a0f65c9312b",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 760,
        "wires": []
    },
    {
        "id": "73df09ccfdb2faa7",
        "type": "link in",
        "z": "a3082a0f65c9312b",
        "name": "link in 2",
        "links": [
            "46b95c56c0a61468"
        ],
        "x": 155,
        "y": 780,
        "wires": [
            [
                "6e613f7888d2d64c"
            ]
        ]
    },
    {
        "id": "cd49b122ef73e97f",
        "type": "inject",
        "z": "5c580b763f8d6311",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "01275cf3433fcde9",
                "46b95c56c0a61468"
            ]
        ]
    },
    {
        "id": "01275cf3433fcde9",
        "type": "debug",
        "z": "5c580b763f8d6311",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "46b95c56c0a61468",
        "type": "link out",
        "z": "5c580b763f8d6311",
        "name": "LinkOut",
        "mode": "link",
        "links": [
            "1de651941a5eebb4",
            "73df09ccfdb2faa7"
        ],
        "x": 325,
        "y": 220,
        "wires": []
    },
    {
        "id": "1de651941a5eebb4",
        "type": "link in",
        "z": "5c580b763f8d6311",
        "name": "link in 1",
        "links": [
            "46b95c56c0a61468"
        ],
        "x": 575,
        "y": 220,
        "wires": [
            [
                "6420e466ad71ddd0"
            ]
        ]
    },
    {
        "id": "6420e466ad71ddd0",
        "type": "debug",
        "z": "5c580b763f8d6311",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "1db705994d314a4f",
        "type": "function",
        "z": "97b79648ae0519e6",
        "name": "First Call",
        "func": "var p = msg.payload;\nmsg.payload =p;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 60,
        "wires": [
            [
                "2bc036e77b0bc1f5"
            ]
        ]
    },
    {
        "id": "894e2854e4c826eb",
        "type": "inject",
        "z": "97b79648ae0519e6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World ",
        "payloadType": "str",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "1db705994d314a4f"
            ]
        ]
    },
    {
        "id": "2bc036e77b0bc1f5",
        "type": "debug",
        "z": "97b79648ae0519e6",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "cb11d40724a58844",
        "type": "inject",
        "z": "97b79648ae0519e6",
        "name": "Details Input",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Details\":{\"Name\":\"Nikki\",\"Age\":13,\"City\":\"Lipa\",\"Job\":{\"Position\":\"Manager\",\"City\":\"Taysan\",\"Tenure\":\"12\"}}}",
        "payloadType": "json",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "d242823d33e0f783"
            ]
        ]
    },
    {
        "id": "0efb395c1be1f2e7",
        "type": "debug",
        "z": "97b79648ae0519e6",
        "name": "Name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "d242823d33e0f783",
        "type": "function",
        "z": "97b79648ae0519e6",
        "name": "Segregate Output",
        "func": "var p1 = {payload: msg.payload.Details.Name};\nvar p2 = {payload: msg.payload.Details.Age};\nvar p3 = {payload: msg.payload.Details.City};\nvar p4 = {payload: msg.payload.Details.Job.Position};\nreturn [p1,p2,p3,p4];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 300,
        "wires": [
            [
                "0efb395c1be1f2e7"
            ],
            [
                "5d6d416dbd4462d1"
            ],
            [
                "6aafc6b9f1cd7a1b"
            ],
            [
                "f0fe4aa299b0f2a9"
            ]
        ]
    },
    {
        "id": "5d6d416dbd4462d1",
        "type": "debug",
        "z": "97b79648ae0519e6",
        "name": "Age",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "6aafc6b9f1cd7a1b",
        "type": "debug",
        "z": "97b79648ae0519e6",
        "name": "City",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "f0fe4aa299b0f2a9",
        "type": "debug",
        "z": "97b79648ae0519e6",
        "name": "Position",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "fa504042c7f7bb6c",
        "type": "inject",
        "z": "97b79648ae0519e6",
        "name": "String Input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Nikki",
        "payloadType": "str",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "c1a75bc4fd615166"
            ]
        ]
    },
    {
        "id": "c1a75bc4fd615166",
        "type": "function",
        "z": "97b79648ae0519e6",
        "name": "Process Input",
        "func": "var p = msg.payload;\nmsg.payload = p.length;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "c284d3f45c592b6d"
            ]
        ]
    },
    {
        "id": "c284d3f45c592b6d",
        "type": "function",
        "z": "97b79648ae0519e6",
        "name": "Condition ",
        "func": "var s  = msg.payload;\n\nif (s > 3)\n{\n    msg.payload =true;\n}\nelse\n{\n    msg.payload =false;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 160,
        "wires": [
            [
                "732c894cc3ecd1c8"
            ]
        ]
    },
    {
        "id": "732c894cc3ecd1c8",
        "type": "function",
        "z": "97b79648ae0519e6",
        "name": "Set Topic ",
        "func": "var t = \"Result\";\nmsg.topic =t;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 160,
        "wires": [
            [
                "a017307a0d27475b"
            ]
        ]
    },
    {
        "id": "a017307a0d27475b",
        "type": "debug",
        "z": "97b79648ae0519e6",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "4d02797fa35fcb4a",
        "type": "inject",
        "z": "0ec30a985bffe47f",
        "name": "Number",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "22",
        "payloadType": "num",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "e25af6736fd7f763"
            ]
        ]
    },
    {
        "id": "0ada83e47f3733ee",
        "type": "inject",
        "z": "0ec30a985bffe47f",
        "name": "Name",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Nikki",
        "payloadType": "str",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "e25af6736fd7f763"
            ]
        ]
    },
    {
        "id": "e25af6736fd7f763",
        "type": "function",
        "z": "0ec30a985bffe47f",
        "name": "Switch Implementation ",
        "func": "var n = msg.payload;\n\nif (n == 22){\n    return [msg,null]\n}\n\nif (n== \"Nikki\"){\n    return [null,msg]\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 140,
        "wires": [
            [
                "211e9c9f804b245e"
            ],
            [
                "234a8ebbf13a16d5"
            ]
        ]
    },
    {
        "id": "211e9c9f804b245e",
        "type": "debug",
        "z": "0ec30a985bffe47f",
        "name": "Date",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "234a8ebbf13a16d5",
        "type": "debug",
        "z": "0ec30a985bffe47f",
        "name": "Name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "4f694f682a72a69b",
        "type": "switch",
        "z": "0ec30a985bffe47f",
        "name": "Payload Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "22",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "Nikki",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 380,
        "wires": [
            [
                "211e9c9f804b245e"
            ],
            [
                "234a8ebbf13a16d5"
            ]
        ]
    },
    {
        "id": "924adabb1a977d43",
        "type": "inject",
        "z": "0ec30a985bffe47f",
        "name": "Number",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "NumberOnly",
        "payload": "22",
        "payloadType": "num",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "4f694f682a72a69b",
                "2f9751da3cf2f80f"
            ]
        ]
    },
    {
        "id": "7f6054b3287b0d59",
        "type": "inject",
        "z": "0ec30a985bffe47f",
        "name": "Name",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "UnknownOnly",
        "payload": "Nikki",
        "payloadType": "str",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "4f694f682a72a69b",
                "2f9751da3cf2f80f"
            ]
        ]
    },
    {
        "id": "2f9751da3cf2f80f",
        "type": "switch",
        "z": "0ec30a985bffe47f",
        "name": "Topic Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NumberOnly",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "StringOnly",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 520,
        "wires": [
            [
                "211e9c9f804b245e"
            ],
            [
                "234a8ebbf13a16d5"
            ]
        ]
    },
    {
        "id": "902e3296afb499dc",
        "type": "inject",
        "z": "aa0be5d8fb5b13e9",
        "name": "Info",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Details",
        "payload": "Nikki",
        "payloadType": "str",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "a5e6e031c10063cc",
                "2658118c23e24ef9",
                "cc14231d5e1c4938",
                "e508dc98bf82a270"
            ]
        ]
    },
    {
        "id": "a5e6e031c10063cc",
        "type": "change",
        "z": "aa0be5d8fb5b13e9",
        "name": "Set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "0ebfa501f4938ce7"
            ]
        ]
    },
    {
        "id": "2658118c23e24ef9",
        "type": "change",
        "z": "aa0be5d8fb5b13e9",
        "name": "Change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ki",
                "fromt": "str",
                "to": "ka",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "0ebfa501f4938ce7"
            ]
        ]
    },
    {
        "id": "cc14231d5e1c4938",
        "type": "change",
        "z": "aa0be5d8fb5b13e9",
        "name": "Delete",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "0ebfa501f4938ce7"
            ]
        ]
    },
    {
        "id": "e508dc98bf82a270",
        "type": "change",
        "z": "aa0be5d8fb5b13e9",
        "name": "Move",
        "rules": [
            {
                "t": "move",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 340,
        "wires": [
            [
                "0ebfa501f4938ce7"
            ]
        ]
    },
    {
        "id": "0ebfa501f4938ce7",
        "type": "debug",
        "z": "aa0be5d8fb5b13e9",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "b57844d67fefe3fb",
        "type": "range",
        "z": "a6d33dd70f458e63",
        "minin": "4",
        "maxin": "20",
        "minout": "0",
        "maxout": "500",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "Transmitter",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "7a9c588ff3b1d5af"
            ]
        ]
    },
    {
        "id": "a03e3d86781759da",
        "type": "inject",
        "z": "a6d33dd70f458e63",
        "name": "Sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Thermocouple ",
        "payload": "12",
        "payloadType": "num",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "b57844d67fefe3fb"
            ]
        ]
    },
    {
        "id": "7a9c588ff3b1d5af",
        "type": "debug",
        "z": "a6d33dd70f458e63",
        "name": "PLC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "3d6b819a8d4e2ba2",
        "type": "split",
        "z": "7e3cb7c4656eebe4",
        "name": "",
        "splt": " ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "property": "payload",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "ee947034d972024b"
            ]
        ]
    },
    {
        "id": "69e18ebbdca6463e",
        "type": "inject",
        "z": "7e3cb7c4656eebe4",
        "name": "Array",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"N\",\"I\",\"K\",\"K\",\"I\"]",
        "payloadType": "json",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "3d6b819a8d4e2ba2"
            ]
        ]
    },
    {
        "id": "ee947034d972024b",
        "type": "debug",
        "z": "7e3cb7c4656eebe4",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "94f57da0505f92e3",
        "type": "inject",
        "z": "7e3cb7c4656eebe4",
        "name": "String",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Nikki Escamillas",
        "payloadType": "str",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "3d6b819a8d4e2ba2"
            ]
        ]
    },
    {
        "id": "2d694007b5eeda4c",
        "type": "inject",
        "z": "7e3cb7c4656eebe4",
        "name": "JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Nikki\":{\"Name\":\"Nikki\",\"Age\":22,\"City\":\"Lipa\"},\"Mika\":{\"Name\":\"Mika\",\"Age\":30,\"City\":\"Manda\"}}",
        "payloadType": "json",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "3d6b819a8d4e2ba2"
            ]
        ]
    },
    {
        "id": "65fc37f37748ec01",
        "type": "inject",
        "z": "7e3cb7c4656eebe4",
        "name": "JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Name\":\"Nikki\",\"Age\":22,\"City\":\"Lipa\"}",
        "payloadType": "json",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "3d6b819a8d4e2ba2"
            ]
        ]
    }
]